/* * {
    box-sizing: border-box
} */
body {
    background-image: url("../img/homePage.png");
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.logo {
    position: relative;
    margin: auto;

    align-content: center;
}

.select{
    text-align: center;
    margin: auto;
}
.entryInput {
    width: 300px !important;
    margin: auto !important;
}

.things{
   text-align: center;
   margin-top: 15%;
   background-color: transparent!important;

}

.entryPar{
    color:#ffffff ;
    padding: 10px;
    font-weight: 600;

}